Source: azure-uamqp-python
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Luca Boccassi <bluca@debian.org>,
Build-Depends: cmake,
               cython3,
               debhelper-compat (= 12),
               dh-python,
               libssl-dev (>= 3),
               python3-all-dev,
               python3-certifi,
               python3-pytest <!nocheck>,
               python3-pytest-asyncio <!nocheck>,
               python3-setuptools,
               python3-six,
Standards-Version: 4.5.1
Section: python
Priority: optional
Rules-Requires-Root: no
Homepage: https://github.com/Azure/azure-uamqp-python
Vcs-Browser: https://salsa.debian.org/python-team/packages/azure-uamqp-python
Vcs-Git: https://salsa.debian.org/python-team/packages/azure-uamqp-python.git
Testsuite: autopkgtest-pkg-python
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: python3-uamqp
Architecture: linux-any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends},
Provides: ${python3:Provides},
Description: AMQP 1.0 client library for Python
 A cython client library for the AMQP 1.0 protocol, implemented using the Azure
 uAMQP library for C.
